{% extends "inc/base.html" %}

{% load static %}

{% block content %}

    <div class="QuestionPage pb-2 mb-4  border-bottom border-3 border-secondary">
        <div class="row">
            <div class="col-2" style="padding: 0px;">
                <div class="avatar_QuestionPage ">
                    <img src="{% static question.user.avatar %}" alt=""/>
                </div>
            </div>
            <div class="col-10">
                <h2 class="question-title">{{ question.title }}</h2>
                <div class="question-text">
                    {{ question.text }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="padding: 0px;">
                <div class="ContainerWhite">
                    <div class="likePage">5</div>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group"
                         style="margin:20px;">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1"
                               autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Up</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2"
                               autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Down</label>
                    </div>
                </div>
            </div>
            <div class="col-8">
                {% include 'inc/tags.html' with tag=question.tag %}
            </div>
        </div>

    </div>
    {% for answer in page_obj %}
        {% include 'inc/answer_item.html' with answer=answer %}
    {% endfor %}
    {% include 'inc/pagination.html' %}
    <div class="mb-3 pb-2 mb-4  border-top border-3 border-secondary"
         style="padding-top:30px; margin-top:30px; width: 852px;">
                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="6"
                              placeholder="Enter your answer here..."></textarea>
    </div>
    <div class="LoginButton" style="margin-bottom: 20px;">Ask!</div>
{% endblock %}
