{% extends "inc/base.html" %}

{% load static %}

{% block content %}

    <h1 style="margin-top:20px;">Log in</h1>
    <h5 style="color:red; margin-top:20px;">Sorry, wrong password! </h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Login</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="basic-addon1" style="margin-top:20px;">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Password</span>
        <input type="text" class="form-control" placeholder="********" aria-label="********"
               aria-describedby="basic-addon2" style="margin-top:20px;">
    </div>
    <div class="ContainerWhite" style="margin-top:30px;">
        <div class="LoginButton">Log in!</div>
        <a href="{% url 'signup' %}" class="link-primary" style="margin-top:5px;">Create new account!</a>
    </div>
{% endblock %}
