{% load static %}

<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskMe</title>


    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<header>
    {% include 'inc/headerUnlog.html' %}
</header>
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container_question">

        <div class="row" style="margin-left: 40px">
            <div class="col-6">
                {% block content %}
                {% endblock %}

            </div>
            <div class="col-6" style="padding-right: 200px;">
                <div class="container_tags">
                    <h1 style=" margin-top:30px;">Popular tags</h1>

                    <ul class="list-group list-group-flush">
                        {% for tag in tags %}
                            {% include 'inc/tag_list.html' %}
                        {% endfor %}
                    </ul>
                    <h1 style="margin-top:30px;">Best members</h1></div>
                <ol class="list-group list-group-numbered" style="margin-right: 130px; margin-left: 80px;">
                    {% include 'inc/best_member.html' %}
                    {% include 'inc/best_member.html' %}
                    {% include 'inc/best_member.html' %}
                </ol>

            </div>
        </div>
    </div>

</main>


<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>


</body>
</html>
